<h2>{{name}} {{surname}} la clase {{oldClass.name}} del {{oldClass.date}} se
    ha modificado al {{neClass.name}} del {{newClass.date}}</h2>
<ul>
    <li>Username: {{username}}</li>
    <li>Email: {{email}}</li>
    <li>Type: {{type}}</li>
</ul>