<h2>{{context.user.name}} {{context.user.surname}} la clase {{context.oldClass.name}} del {{context.oldClass.date}} se
    ha modificado al {{context.neClass.name}} del {{context.newClass.date}}</h2>
<ul>
    <li>Username: {{context.user.username}}</li>
    <li>Email: {{context.user.email}}</li>
    <li>Type: {{context.user.type}}</li>
</ul>