<h2>{{context.user.name}} {{context.user.surname}} la clase {{context.class.name}} del {{context.class.date}} se ha
    cancelado</h2>
<ul>
    <li>Username: {{context.user.username}}</li>
    <li>Email: {{context.user.email}}</li>
    <li>Type: {{context.user.type}}</li>
</ul>